{% load static %}
{% load bootstrap4 %} 

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="nav-bg">
   <hr>
   <nav style="display:flex; flex-direction: right; justify-content: space-around;">
      <div class="logo">
         <div class="logo-icon">
            <a href="{% url 'home' %}">
                  <i class="fab fa-instagram"></i>
            </a>
            </div>
      </div>

      <div class="search">
         <form action="{% url 'search' %}" method="get">
            <input type="text" name="insta_search" id="insta-search" placeholder="Search User">
            <button type="submit" hidden></button>
         </form>
      </div>
      <div class="user-menu">
         <div class="profile-icon">
            <a href="{% url 'profile' %}">
                  <i class="fas fa-user"></i>
            </a>
         </div>
      </div>
   </nav>
</div>
<hr>

<style>

   i {
      color: #000;
      font-size: 2em;
   }

</style>